@model WebApp.Models.UserModel

@{
    ViewBag.Title = "Edit";
}

<script language="javascript" type="text/javascript">

    var wsUri = "ws://localhost:8080/";
    var output;
    var id;

    function init() {
        output = document.getElementById("output");
        testWebSocket();
    }

    function testWebSocket() {
        websocket = new WebSocket(wsUri);
        websocket.onopen = function (evt) { onOpen(evt) };
        websocket.onclose = function (evt) { onClose(evt) };
        websocket.onmessage = function (evt) { onMessage(evt) };
        websocket.onerror = function (evt) { onError(evt) };
    }

    function onOpen(evt) {
        id = window.location.pathname.split("/").pop();
        writeToScreen("CONNECTED ...");
    }

    function onClose(evt) {
        writeToScreen("DISCONNECTED");
        websocket.close();
    }

    function onError(evt) {
        writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
    }

    function doSend(message) {
        writeToScreen("SENT: " + message);
        websocket.send(message);
    }

    function onMessage(evt) {
        let message = JSON.parse(evt.data);
        writeToScreen('<span style="color: blue;"> RECEIVED : ' + evt.data + '</span><br/><br/><br/>')
    }

    function writeToScreen(message) {
        var pre = document.createElement("p");
        pre.innerHTML = message;
        output.appendChild(pre);
    }

    function EditUser() {
        var name = document.getElementById("name").value;
        var surname = document.getElementById("surname").value;
        var myObj = { msg_code: "EditUser", id: id, name: name, surname: surname };
        var myJSON = JSON.stringify(myObj);
        doSend(myJSON)
    }

    window.addEventListener("load", init, false);

</script>

<h2>Edit user</h2>
<br />

<div id="output"></div>
<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @id = "name" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.surname, new { htmlAttributes = new { @class = "form-control", @ud = "surname"} })
                @Html.ValidationMessageFor(model => model.surname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="text" onclick ="EditUser()" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
